
.toDoApp{
    display: flex;
    flex-direction: column;
    margin: 5%  auto;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: firebrick;
    color: white;
}

form{

    margin: 0 auto;

}

.purchased{
    text-decoration: line-through;
}


button{

    margin: 5% auto;

}


p{
    font-size: 1.5rem;
    font-weight: 600;
}